<div class="px-4 pt-5 my-5 text-center border-bottom" xmlns="http://www.w3.org/1999/html">
  <h1 class="display-4 fw-bold">Image generator</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">A simple application with which you can generate simple images based on a description. This application was created in the VIA course at FEL CTU in Prague.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3" [routerLink]="['/auth/register']">Register</button>
      <button type="button" class="btn btn-outline-secondary btn-lg px-4" [routerLink]="['gallery']">View Gallery</button>
    </div>
  </div>
  <div class="overflow-hidden" style="max-height: 30vh;">
    <div class="container px-5">
      <img src="/assets/ladingPage.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
    </div>
  </div>
</div>

<div class="pb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h2 class="fw-normal">Simple generator</h2>
        <p>Image generation is done using a simple form builder. The server then processes your request and returns an image that you can save.</p>
      </div>
      <div class="col-lg-4">
        <h2 class="fw-normal">Gallery</h2>
        <p>The gallery contains all images created by all users. In addition, logged-in users can rate other images.</p>
        <p><a class="btn btn-secondary" [routerLink]="['gallery']">View Gallery</a></p>
      </div>
      <div class="col-lg-4">
        <h2 class="fw-normal">Using</h2>
        <p>To generate images you need to register. Then each user can create <span class="fw-bolder">up to 10 images.</span></p>
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h2 class="fw-normal lh-1">Based on  <span class="text-muted">AI</span></h2>
        <p class="lead">Image generation is based on AI. This is possible with the <span class="fw-bold">DALL·E 2</span> tool from <a href="https://openai.com/" target="_blank">OpenAI</a>. DALL·E 2 can create original, realistic images and art from a
          text description. It can combine concepts, attributes, and styles.</p>
        <p><a class="btn btn-secondary" href="https://openai.com/dall-e-2/" target="_blank">More informations »</a></p>
      </div>
      <div class="col-md-5">
        <div class="row ms-0">DALL·E 2</div>
        <img class="bd-placeholder-img bd-placeholder-img-lg img-fluid mx-auto" width="300" height="300" src="https://cdn.openai.com/dall-e-2/demos/text2im/astronaut/horse/photo/0.jpg">
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

</div>
