<nav class="navbar fixed-top bg-primary navbar-expand-sm">
    <div class="container-fluid text- text-white">
        <a class="navbar-brand text-white text-uppercase">Picture generator</a>
        <ul class="navbar-nav mx-auto mb-lg-0">
          <li class="nav-item">
            <a class="nav-link link-light"
              [routerLink]="['']"
            ><i class="bi bi-house-fill me-1"></i>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light"
               [routerLink]="['gallery']"
            ><i class="bi bi-images me-1"></i>Gallery</a>
          </li>
          <li class="nav-item" *ngIf="user">
            <a class="nav-link link-light"
               [routerLink]="['my-gallery']"
            ><i class="bi bi-person-square me-1"></i>My images</a>
          </li>
          <li class="nav-item" *ngIf="user">
            <a class="nav-link link-light"
              [routerLink]="['generate']"
            ><i class="bi bi-palette-fill me-1"></i>Create</a>
          </li>
        </ul>

        <div ngbDropdown display="dynamic">
          <div ngbDropdownToggle class="pointer">
            <span *ngIf="user">{{user.nickname}}</span>
            <i class="ms-1 bi bi-person-fill"></i>
          </div>
          <div ngbDropdownMenu class="bg-light shadow">
            <div *ngIf="!user">
              <app-login></app-login>
              <div class="dropdown-divider mt-1"></div>
              <button type="button"
                      routerLink="/auth/register"
                      ngbDropdownItem>New around here?
                <span class="fw-bold">Sign up</span>
              </button>
            </div>
            <div *ngIf="user" class="text-center">
              <button type="button"
                      routerLink="profile"
                      ngbDropdownItem>
                <span class="fw-bold"><i class="bi bi-person-fill"></i> Profile</span>
              </button>
              <button type="button"
                      (click)="logOut()"
                      ngbDropdownItem>
                <span class="fw-bold"><i class="bi bi-box-arrow-right"></i> Log Out</span>
              </button>
            </div>
          </div>
        </div>
    </div>
</nav>
