/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */

$blue: #0065BD;

@import 'bootstrap/scss/bootstrap';
@import "bootstrap-icons/font/bootstrap-icons.css";
@import 'ngx-toastr/toastr';
@import 'src/assets/toastr-bs5-alert.scss';
@import 'ngx-lightbox/lightbox.css';
@import "placeholder-loading/src/scss/placeholder-loading";
@import "ngx-spinner/animations/ball-spin-clockwise.css";

html, body{
  margin: 0;
  padding: 0;
}

.toast-top-center{
  margin-top: 40px !important;
}

.mb-25px{
  margin-bottom: 25px !important;
}

.w-fit-content{
  width: fit-content !important;
}

.pointer{
  cursor: pointer !important;
}

.ngx-spinner-overlay{
  z-index: 0 !important;
}
